.wrapper {
  min-height: 700px;
  /* padding-bottom: 100px; */
  background-image: url("../../images/wrapper.jpg");
  background-size: fill;
  /* background-repeat: no-repeat; */
  background-position: bottom;
}



/* #contactBg{
  background-image: url("../../images/contactBg.jpg");
  background-size: fill;
  /* background-repeat: no-repeat; */
  
  /* min-height: 500px; */
  /* padding-bottom: 100px; */
 



