.wrapper {
  min-height: 600px;
  /* padding-bottom: 100px; */
}
#contactBg{
  background-image: url("../../images/contactBg.jpg");
  background-size: fill;
  /* background-repeat: no-repeat; */
  background-position: bottom;
  /* min-height: 500px; */
  /* padding-bottom: 100px; */
}

