/* nav.navbar.navbar-default {
  min-height: 150px;
  margin-bottom: 0;
  background: #e5e5e5;
} */

#zurek {
  font-style: cursive;
  font-family: "Lucida Handwriting";
  color: blue;
}

/* #navbar {
  display: flex;
  justify-content: left;
  
} */
.navbar-light .navbar-nav .nav-link {
  color: blue;
}

.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.35);
  transition: transform 0.5s;
  color: black;
}
