.footer {
  min-height: 115px;
  background: rgb(251, 249, 249);
  position: relative;
}

.footer span {
  display: flex;
  justify-content: center;
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}

#myIcon {
  font-size: 60px;
}
#zurekFooter {
  color: blue;
}
